<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flaskアプリ{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    {% if title == "index" %}
    <header class="header">
        <h1>ScanJourny</h1>
    </header>
    {% endif %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>